{% extends "common/base.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron main-background">
  <div class="container">
    <h1 class="outlined">Dev Sourcr</h1>
    <p class="tagline">&gt; helping developers find other developers<span class="blinking">&#9608;</span></p>
    <p><a href="https://github.com/login/oauth/authorize?client_id={{clientId}}&amp;state={{oAuthState}}" class="btn btn-success btn-lg center-block" role="button">Login with GitHub &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Find developers</h2>
      <p>Don't like recruiters? Don't worry, no one does. Use the GitHub API to find developers based on their primary language and location. </p>      
    </div>
    <div class="col-md-4">
      <h2>Appreciate style</h2>
      <p>Not only can you easily find other developers you can also appreciate this beautifully unskinned, generic Bootstrap site. Mmmmmm taste like bland.</p>
   </div>
    <div class="col-md-4">
      <h2>Disclaimer</h2>
      <p>While all the information on this site is from the public domain please use it responsibly. That means no spamming, harassing or doxing.</p>
    </div>
  </div>
</div>

{% endblock %}