{% extends "common/base.html" %}

{% block content %}
  
  <div class="container">
    <h2>Top <input name="language" data-input="language" value="JavaScript" /> developers in <input name="location" data-input="location" value="London" /><button data-role="search">Search</button></h2>

    <table data-role="results"></table>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script>window.githubToken = "{{token}}"; </script>
  <script src="/lib/handlebars.js"> </script>
  <script src="/lib/fun.js"> </script>
  <script src="/src/main.js"> </script>
  {% raw %}
  <script id="person-placeholder" type="text/x-handlebars-template">
    <tr>
      <td><a href="{{html_url}}"><img width="120" src="{{avatar_url}}"/></a></td>
      <td data-id="{{login}}">
        <a href="{{html_url}}">{{login}}</a><br/>
        Fetching details...
      </td>
    </tr>
  </script>
  <script id="person-details" type="text/x-handlebars-template">
      <h3>{{name}} (<a href="{{html_url}}">{{login}}</a>)</h3>
      {{#if company}}<p>Works at: {{company}}</p>{{/if}}
      {{#if email}}<p>Email: <a href="mailto:{{email}}">{{email}}</a></p>{{/if}} 
      {{#if blog}}<p>Website: <a href="{{blog}}">{{blog}}</a></p>{{/if}} 
  </script>
  {% endraw %}
{% endblock %}
